.editor-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #1e1e1e;
  padding: 0 1.5rem;
  border-bottom: 1px solid #333;
  height: 80px; 
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content:space-between;
}

.navbar-logo {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: #e0e0e0;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
}

.navbar-logo h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.navbar-icon {
  color: #7f20e6;
  font-size: 1.5rem;
  margin-bottom: -4px;
}

.title-sec {
  color: #7f20e6;
  font-weight: 600;
  font-size: 1.8rem;
}

.mid-container{
  display: flex;
  gap: 1rem;
}

.run-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #7f20e6;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.board-btn{
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #7f20e6;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.btn-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.board-btn:hover{
  background-color: #6a17c4;
}

.run-button:hover:not(:disabled) {
  background-color: #6a17c4;
}

.run-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.media-controls {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.control-btn {
  background-color: #4a4a4e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.control-btn:hover {
  background-color: #6a17c4;
}

.control-btn.disabled {
  background-color: #e53e3e;
}

.control-btn.disabled:hover {
  background-color: #c53030;
}