.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 5rem;
  background-color: #15151595;
  border-right: 1px solid rgba(63, 63, 63, 0.774);
  flex-shrink: 0;
  color: #888;
  display: flex;
  align-items:flex-end;
  justify-content: center;
}

.user-frame{
  margin: 1rem;
  padding: 0.9rem;
  background-color: #f3adad;
  color: #333;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.user-frame:hover{
  background-color: #f79090;
  cursor: pointer;
}

.editor-container {
  height: 100%;
  flex: 1;
  min-width: 0;
}

.sash {
  background-color: #333 !important;
}
.sash-hover {
  background-color: #555 !important;
}

.editor-pane,
.output-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.editor {
  flex-grow: 1;
}

.output-pane {
  background-color: #1e1e1e;
}
